[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
sqlalchemy = "*"
python-slugify = "*"
natsort = "*"
pyicu = "*"

[dev-packages]

[requires]
python_version = "3.8"
